<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Fonte da Logo: Blenda Scripts -->
    <link rel="icon" href="/img/bella-clothes-logo.ico">
    <link rel="stylesheet" href="/css/pages/main.css">
    {{#if paginaUsuario}}
        <link rel="stylesheet" href="/css/pages/usuario/sidebarUsuario.css">
    {{/if}}
    {{#if paginaAdmin}}
        <link rel="stylesheet" href="/css/pages/admin/layouts/sidebarAdmin.css">
        <link rel="stylesheet" href="/css/pages/admin/layouts/navbarAdmin.css">
        <link rel="stylesheet" href="/css/pages/admin/layouts/contentAdmin.css">
        <link rel="stylesheet" href="/css/pages/admin/layouts/footerAdmin.css">
        <link rel="stylesheet" href="/css/datepicker.min.css">
    {{/if}}

    <link rel="stylesheet" href="/css/pages/{{css}}">
    <link rel="stylesheet" href="/fonts/noto_sans-font.css">
    <link rel="stylesheet" href="/fonts/roboto-font.css" type="text/css">
    <link href='/css/font-awesome.min.css'>
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/rangeSlider.css">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.min.css">
    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.colors.min.css">
    <link rel="stylesheet" href="/css/trumbowyg/trumbowyg.table.min.css">

    <script src='/js/jquery/jquery.min.js'></script>
    <script src='/js/bootstrap/bootstrap.bundle.min.js'></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery/plugins/jquery.mlens-1.7.min.js"></script>
    <script src="/js/jquery/plugins/jquery.maskMoney.min.js"></script>
    <script src="/js/jquery/plugins/jquery.mask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body class="body">
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {{#if paginaAdmin}}
    {{else}}
        {{>_navbar}}
    {{/if}}

    <div class="container container-box">
        {{#if paginaUsuario}}
            <div style="display: flex; height: 100%; background-color: rgb(241, 241, 241);"
                class="usuario-sidebar-flex">
                <div>
                    {{>_sidebarUsuario}}
                </div>
                <div style="width: 100%; padding-top: 100px; padding-bottom: 100px; padding-left: 5%; padding-right: 5%;"
                    class="usuario-content">
                    {{{body}}}
                </div>
            </div>
        {{else}}
            {{#if paginaAdmin}}
                {{#if loginAdmin}}
                    {{{body}}}
                {{else}}
                    <div style="display: flex; height: 100%; width: 100%;" class="admin-flex">
                        {{>_sidebarAdmin}}
                        <div style="width: 100%;" class=" nav-body-flex-content">
                            {{>_navbarAdmin}}
                            <div class="admin-content">
                                {{{body}}}
                            </div>
                            {{>_footerAdmin}}
                        </div>
                    </div>
                {{/if}}
            {{else}}
                {{{body}}}
            {{/if}}
        {{/if}}
        <div class="modal-background">
        </div>
    </div>

    {{#if paginaAdmin}}
    {{else}}
        {{>_footer}}
    {{/if}}
</body>

<script src="/js/pages/layouts/main.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/rangeSlider.js"></script>
{{#if paginaUsuario}}
    <script src="/js/pages/usuario/sidebarUsuario.js"></script>
{{/if}}
{{#if paginaAdmin}}
    <script src="/js/pages/admin/layouts/sidebarAdmin.js"></script>
    <script src="/js/pages/admin/layouts/navbarAdmin.js"></script>
    <script src="/js/pages/admin/layouts/footerAdmin.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/highmaps.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/br-all.js"></script>
    <script src="/js/jquery/plugins/datepicker.min.js"></script>
    <script src="/js/datatables.min.js"></script>

    <script src="/js/jquery/plugins/trumbowyg/trumbowyg.min.js"></script>
    {{!-- Trumbowyg PT-BR language --}}
    <script src="/js/jquery/plugins/trumbowyg/pt_br.min.js"></script>
    <script src="/js/jquery/plugins/trumbowyg/trumbowyg.colors.min.js"></script>
    <script src="/js/jquery/plugins/trumbowyg/trumbowyg.indent.min.js"></script>
    <script src="/js/jquery/plugins/trumbowyg/trumbowyg.table.min.js"></script>
{{/if}}
{{#if js}}
    <script src="/js/pages/{{js}}"></script>
{{/if}}

</html>