<div class="row">
    <div class="col-sm-9 col-dados">
        <h3 class="mb-4">Meus Dados</h3>
        <div class="card-dados-conta p-0 m-0 mt-3 text-center" style="margin-top: 30px;">
            <form id="form-foto" action="/usuario/alterarFoto" method="POST" enctype='multipart/form-data'>
                <div>
                    {{#if usuario.foto}}
                        <div class="foto-perfil-usuario shadow"
                            style="--foto-perfil:url(/img/foto-usuarios/{{usuario.foto}});">
                            <label for="foto" class="input-file-trigger"><i class="bi bi-pencil-square"></i></label>
                            <label class="input-file-remove"
                                onclick="javascript: document.getElementById('form-foto').submit()"><i
                                    class="bi bi-eraser"></i></label>
                        </div>
                    {{else}}
                        <div style="position: relative; width: 125px; height: 145px;" class="mx-auto">
                            <i class="bi bi-person-fill" style="font-size: 7em;"></i>
                            <label for="foto" class="input-file-trigger"><i class="bi bi-pencil-square"></i></label>
                        </div>
                    {{/if}}
                </div>
                <input type="file" class="input-file" id="foto" name="foto" onchange="javascript: this.form.submit()">
            </form>
        </div>
        <div class="card card-dados-conta p-3" style="margin-top: 30px;">
            <div class="d-flex flex-row flex-wrap bd-highlight">
                <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                    <p>E-mail</p>
                </div>
                <div class=" p-0 bd-highlight flex-grow-1 ml-3 mr-3">
                    <p class="text-secondary" id="email_usuario">{{usuario.email}}</p>
                </div>
                <div class="bd-highlight ml-3 mr-3">
                    <a href="javascript: void(0)" id="link_alterar_email" class="btn-alterar btn"><i
                            class="bi bi-pencil-square"></i></a>
                </div>
            </div>
        </div>

        <div class="card card-dados-conta p-3" style="margin-top: 10px;">
            {{#if (equals usuario.tipo "Fisico")}}
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Nome Completo</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.nome}} {{usuarioTipo.sobrenome}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Sexo</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.sexo}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Data de Nascimento</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.data_nascimento}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>CPF</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.cpf}}</p>
                    </div>
                </div>
            {{/if}}
            {{#if (equals usuario.tipo "Juridico")}}
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Razão Social</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.razao_social}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Nome fantasia</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.fantasia}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Inscrição Municipal</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.inscricao_municipal}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Inscrição Estadual</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.inscricao_estadual}}</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Isento</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{#if usuarioTipo.isento}}Sim{{else}}Não{{/if}}</p>
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>CNPJ</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">{{usuarioTipo.cnpj}}</p>
                    </div>
                </div>
            {{/if}}
            <hr>
            <div class="d-flex flex-row flex-wrap bd-highlight">
                <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                    <p>Telefone</p>
                </div>
                <div class="p-0 flex-grow-1 bd-highlight ml-3 mr-3">
                    <p class="text-secondary" id="telefone_usuario">{{usuario.telefone}}</p>
                </div>
                <div class="bd-highlight ml-3 mr-3">
                    <a href="javascript: void(0)" id="link_alterar_telefone" class="btn-alterar btn"><i
                            class="bi bi-pencil-square"></i></a>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row flex-wrap bd-highlight">
                <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                    <p>Telefone Alternativo</p>
                </div>
                <div class="p-0 flex-grow-1 bd-highlight ml-3 mr-3">
                    <p class="text-secondary" id="outro_telefone_usuario">
                        {{#if usuario.outro_telefone}}{{usuario.outro_telefone}}{{/if}}
                    </p>
                </div>
                <div class="bd-highlight ml-3 mr-3">
                    <a href="javascript: void(0)" id="link_alterar_outro_telefone" class="btn-alterar btn"><i
                            class="bi bi-pencil-square"></i></a>
                </div>
            </div>
        </div>


        <h5 style="font-size: 1.2rem; margin-top: 50px;">Endereços</h5>

        <div class="card card-enderecos shadow-sm mt-3 p-4">
            {{#each enderecos}}
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="flex-grow-1 bd-highlight">
                        <p class="font-weight-bold" style="color: black;">{{this.nome}}, {{this.numero}}</p>
                        <p class="text-secondary" style="font-size: 0.8rem">{{this.bairro}}, {{this.cidade}}
                            {{this.estado}} - {{this.cep}}
                        </p>
                        <p class="text-secondary" style="font-size: 0.8rem">Complemento:
                            {{#if this.complemento}}{{this.complemento}}{{/if}}
                        </p>
                        <p class="text-secondary" style="font-size: 0.8rem">Ponto de Referência:
                            {{#if this.ponto_referencia}}{{this.ponto_referencia}}{{/if}}
                        </p>
                        <p class="text-secondary" style="font-size: 0.8rem">Informações Adicionais:
                            {{this.informacoes_adicionais}}
                        </p>
                        <p class="text-secondary" style="font-size: 0.9rem">{{this.nome_pessoa}}
                            - {{this.telefone}}
                        </p>
                    </div>
                    <div class="bd-highlight d-flex flex-row flex-wrap"
                        style="align-items: flex-start; column-gap: .35rem;">
                        {{#if this.principal}}
                            <span class="button-endereco-principal btn active"><i class="bi bi-house-fill"></i></span>
                        {{else}}
                            <a href="javascript: void(0)" class="button-endereco-principal btn"
                                id-endereco="{{this._id}}" nome-endereco="
                                    {{this.nome}}"><i class="bi bi-house-fill"></i></a>
                        {{/if}}
                        <a href="/usuario/editarEndereco?id={{this._id}}" class="btn-alterar btn mb-2"><i
                                class="bi bi-pencil-square"></i></a>
                        {{#if (bigger ../enderecos.length 1)}}
                            <form action="/usuario/excluirEndereco" method="POST">
                                <input type="hidden" name="id_endereco" value="{{this._id}}" />
                                <a href="javascript: void(0)" class="button-excluir btn"
                                    nome-endereco="{{this.nome}}"><i class="bi bi-eraser"></i></a>
                            </form>
                        {{/if}}
                    </div>
                </div>
                <hr>
            {{/each}}
            <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                <div class="flex-grow-1 bd-highlight">
                    <a href="/usuario/adicionarEndereco" class="button-adicionar-endereco btn"><i
                            class="bi bi-plus-lg mr-2"></i> Adicionar Endereço</a>
                </div>
            </div>
        </div>

        <h5 style="font-size: 1.2rem; margin-top: 50px;">Cartões</h5>

        <div class="card card-cartoes shadow-sm mt-3 p-4">
            {{#each cartoes}}
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="p-2 bd-highlight text-center" style="align-self: center;">
                        <div class="p-2 bg-icone-cartao">
                            <img src="/img/icone-pagamento/mastercard.png" alt="" class="icone-cartao">
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1">
                        <p>**** 3384</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Mastercard</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Vencimento: 10/2026</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="javascript: void(0)" class="button-excluir btn" id-cartao="{{this._id}}"
                            numero-cartao="{{this.numero}}" tipo-cartao="{{this.tipo}}"><i class="bi bi-eraser"></i></a>
                    </div>
                </div>
                <hr>
            {{/each}}
            <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                <div class="p-2 bd-highlight text-center" style="align-self: center;">
                    <div class="p-2 bg-icone-cartao">
                        <img src="/img/icone-pagamento/mastercard.png" alt="" class="icone-cartao">
                    </div>
                </div>
                <div class="p-2 bd-highlight flex-grow-1">
                    <p>**** 3384</p>
                    <p class="text-secondary" style="font-size: 0.9rem;">Mastercard</p>
                    <p class="text-secondary" style="font-size: 0.9rem;">Vencimento: 10/2026</p>
                </div>
                <div class="bd-highlight">
                    <a href="#" class="button-excluir-endereco btn rounded-0">Excluir</a>
                </div>
            </div>

            <hr>
            <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                <div class="flex-grow-1 bd-highlight">
                    <a href="#">Adicionar Cartão</a>
                </div>
            </div>
        </div>
    </div>
</div>